.about-panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    text-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 40px;
    color: #fff;
    font-size: 1.4rem;
    width: auto;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.snippet-demo {
    padding: 0 40px 40px;
}

.icons-preview-code {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row;
    -webkit-flex-flow: row;
    border: 1px solid #f0f0f0;
    padding: 0;
    background-color: white;
}



/* icons
----------------------*/

.material-icons {
    vertical-align: center;

 &.watch {
    font-size: 35px;
 }

}

.share-label {
    vertical-align: middle;
    margin-left: 10px;
    position: relative;
    bottom: 10px;
}



/* slider
----------------------*/
.slide-wrap {
  margin: 5% auto 0;
  width: 50%;
}
.slide-mask {
  position: relative;
  overflow: hidden;
  height: 130px;
}
.slide-group {
  position: absolute; 
  top: 0px; 
  left: 0;
  width: 100%;
  list-style-type: none;
}
.slide {
  height: 130px;
    font: 100 90px/135px "lato";
    font-size: 2em;
    color: #fff;
    text-align: center;
    text-transform: uppercase;  
}

/* nav
----------------------*/
.slide-nav {
  text-align: center;
}
.slide-nav ul {
    margin: 0;
    padding: 0;
}
.slide-nav li {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: rgb(175, 56, 56);
  cursor: pointer;
  margin-left: .5em;
}
.slide-nav li.current {
    background: rgb(144, 39, 39);
}
